<!-- Copyright section of the footer-->
<div class="py-4 font-weight-light bg-gray-800 text-gray-300">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 text-center text-md-left">
        <p class="mb-md-0">&copy; 2018 Your company. All rights reserved.</p>
      </div>
      <div class="col-md-6">
        <ul class="list-inline mb-0 mt-2 mt-md-0 text-center text-md-right">
          <li class="list-inline-item"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/visa.svg" alt="..."
              class="w-2rem"></li>
          <li class="list-inline-item"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/mastercard.svg"
              alt="..." class="w-2rem"></li>
          <li class="list-inline-item"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/paypal.svg" alt="..."
              class="w-2rem"></li>
          <li class="list-inline-item"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/western-union.svg"
              alt="..." class="w-2rem"></li>
        </ul>
      </div>
    </div>
  </div>
</div>