<header class="header header-absolute">
  <top-bar></top-bar>
  <navbar></navbar>
  <search></search>
</header>
<!-- Hero Section-->
<section class="home-full-slider-wrapper mb-10px">
  <home-slider></home-slider>
</section>
<section>
  <home-categories></home-categories>
</section>
<!-- Footer-->
<footer class="main-footer">
  <service-block></service-block>
  <footer-main-block></footer-main-block>
  <footer-copyright></footer-copyright>
</footer>
<!-- /Footer end-->
<!-- <div id="scrollTop"><i class="fa fa-long-arrow-alt-up"></i></div>
<button type="button" data-toggle="collapse" data-target="#style-switch" id="style-switch-button" class="btn btn-primary btn-sm d-none d-lg-block"><i
    class="fa fa-cog fa-2x"></i></button>
<div id="style-switch" class="collapse">
  <h4 class="text-uppercase mb-4">Select theme colour</h4>
  <form class="mb-3">
    <select name="colour" id="colour" class="form-control style-switch-select">
      <option value="">select colour variant</option>
      <option value="default">violet</option>
      <option value="pink">pink</option>
      <option value="green">green</option>
      <option value="red">red</option>
      <option value="blue">blue</option>
    </select>
  </form>
  <p class="text-muted">Stylesheet switching is done with JavaScript and can cause a blink while page loads. This will
    not happen in your production code.</p>
</div> -->