<!-- Fullscreen search area-->
<div class="search-area-wrapper">
  <div class="search-area d-flex align-items-center justify-content-center">
    <div class="close-btn">
      <svg class="svg-icon svg-icon-light w-3rem h-3rem">
        <use xlink:href="#close-1"> </use>
      </svg>
    </div>
    <form action="#" class="search-area-form">
      <div class="form-group position-relative">
        <input type="search" name="search" id="search" placeholder="What are you looking for?" class="search-area-input">
        <button type="submit" class="search-area-button">
          <svg class="svg-icon">
            <use xlink:href="#search-1"> </use>
          </svg>
        </button>
      </div>
    </form>
  </div>
</div>
<!-- /Fullscreen search area-->