<!-- Top Bar-->
<div class="top-bar">
  <div class="container-fluid">
    <div class="row d-flex align-items-center">
      <div class="col-sm-7 d-none d-sm-block">
        <ul class="list-inline mb-0">
          <li class="list-inline-item pr-3 mr-0">
            <svg class="svg-icon mr-2">
              <use xlink:href="#calls-1"> </use>
            </svg>020-800-456-747
          </li>
          <li class="list-inline-item px-3 border-left d-none d-lg-inline-block">Free shipping on orders over $300</li>
        </ul>
      </div>
      <div class="col-sm-5 d-flex justify-content-end">
        <!-- Language Dropdown-->
        <div class="dropdown border-right px-3"><a id="langsDropdown" href="https://example.com" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" class="dropdown-toggle topbar-link"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/united-kingdom.svg"
              alt="english" class="topbar-flag">English</a>
          <div aria-labelledby="langsDropdown" class="dropdown-menu dropdown-menu-right"><a href="#" class="dropdown-item text-sm"><img
                src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/germany.svg" alt="german" class="topbar-flag">German</a><a
              href="#" class="dropdown-item text-sm"> <img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/france.svg"
                alt="french" class="topbar-flag">French</a></div>
        </div>
        <!-- Currency Dropdown-->
        <div class="dropdown pl-3 ml-0"><a id="currencyDropdown" href="#" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" class="dropdown-toggle topbar-link">USD</a>
          <div aria-labelledby="currencyDropdown" class="dropdown-menu dropdown-menu-right"><a href="#" class="dropdown-item text-sm">EUR</a><a
              href="#" class="dropdown-item text-sm"> GBP</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Top Bar End-->